<md-content flex layout-align="center start">
  <md-subheader class="md-primary">Usuários Otus</md-subheader>

  <md-content layout="row" layout-align="center center" flex=100>
    <md-input-container flex-gt-md=50 flex=90>
      <md-icon md-font-library="material-icons">search</md-icon>
      <input ng-model="query" placeholder="Buscar por Nome ou Email"></input>
    </md-input-container>
  </md-content>

  <md-card flex layout-align="center center" layout="row" ng-repeat="user in $ctrl.users | orderBy:['name', 'email'] | filter : query  track by $index">
    <md-card-title>
      <md-card-title-media>
        <div class="md-media-sm card-media" layout-align="center center">
          <md-icon md-font-set="material-icons">face</md-icon>
        </div>
      </md-card-title-media>
      <md-card-title-text layout="row">
        <div layout="column">
          <span class="md-headline">{{user.name}}</span>
          <span class="md-subhead description">{{user.email}}</span>
          <span ng-if="user.admin" class="md-subhead description">Administrador</span>
        </div>
        <span flex></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-action>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Centro</label>
          <md-select ng-model="user.fieldCenter.acronym" ng-change="$ctrl.updateFieldCenter(user)">
            <md-option value=""><em>Nenhum</em></md-option>
            <md-option ng-repeat="fieldCenter in $ctrl.fieldCenters track by $index" ng-value="fieldCenter.acronym">
              {{fieldCenter.acronym}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-action>
      <md-action>
        <md-switch ng-if="!user.admin" aria-label="status" ng-model="user.enable" class="md-primary" md-no-ink ng-change="$ctrl.enableDisable(user)"></md-switch>
      </md-action>
    </md-card-actions>
  </md-card>
</md-content>
