<md-content flex layout-align="center start">
  <md-subheader class="md-primary">Usuários Otus</md-subheader>
  <md-content layout="row" layout-align="center center" flex=100>
    <md-input-container flex-gt-md=50 flex=90>
      <md-icon>search</md-icon>
      <input ng-model="query" placeholder="Buscar por Nome ou Email">
    </md-input-container>
  </md-content>
  <md-card flex layout-align="center center" layout="row"  ng-repeat="user in $ctrl.users | orderBy:['name', 'email'] | filter : query  track by $index">
    <div layout="column" flex>
      <div layout="row" layout-xs="column" flex>
        <md-card-title layout="row" layout-xs="column" layout-align="center center">
          <md-card-title-media layout="row" flex="10">
            <div class="md-media-sm card-media" layout="row" flex>
              <md-icon md-font-set="material-icons">face</md-icon>
            </div>
          </md-card-title-media>
          <md-card-title-text layout="row">
            <div layout="column">
              <div layout="row" layout-align="start center">
                <span class="md-headline">{{user.name}}</span>
                <span class="md-subhead description user-title-position">{{user.surname}}</span>
              </div>
              <span class="md-subhead description">{{user.email}}</span>
              <span ng-if="user.admin" class="md-subhead description">Administrador</span>
            </div>
            <span flex></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" flex="15" flex-md="20" flex-sm="25" flex-xs="30" layout-align="center center">
          <md-action flex layout="column">
            <div layout="row" flex>
              <div layout="column" flex="50">
                <md-subheader class="md-subhead description backgroud-color-default">Centro:</md-subheader>
              </div>
              <div layout="column">
                <md-select aria-label="Selecione um estado" class="margin-zero field-user-position" ng-model="user.fieldCenter.acronym" ng-change="$ctrl.updateFieldCenter(user)">
                  <md-option value=""><em>Nenhum</em></md-option>
                  <md-option ng-repeat="fieldCenter in $ctrl.fieldCenters track by $index" ng-value="fieldCenter.acronym">
                    {{fieldCenter.acronym}}
                  </md-option>
                </md-select>
              </div>
            </div>
            <div layout="row" flex ng-if="!user.admin">
              <div layout="column" flex="50">
                <md-subheader class="md-subhead description backgroud-color-default">Ativo:</md-subheader>
              </div>
              <div layout="column" flex>
                <md-switch ng-if="!user.admin" aria-label="status" ng-model="user.enable" class="md-primary margin-zero field-user-position" md-no-ink ng-change="$ctrl.enableDisable(user)"></md-switch>
              </div>
            </div>
            <div layout="row" flex>
              <div layout="column" flex="50">
                <md-subheader ng-class="(!user.enable ? 'user-ips-opacity' : '') + ' md-subhead description backgroud-color-default'">Extração:</md-subheader>
              </div>
              <div layout="column" flex>
                <md-switch aria-label="extração" ng-disabled="!user.enable" ng-model="user.extraction" class="md-primary margin-zero field-user-position" md-no-ink ng-change="$ctrl.enableDisableExtraction(user)"></md-switch>
              </div>
            </div>
            <div layout="row" flex>
              <div layout="column" flex="50">
                
              </div>
              <div layout="column" flex>
                
              </div>
            </div>
          </md-action>
        </md-card-actions>
      </div>
      <md-divider flex="20"></md-divider>
      <div layout="row" flex ng-class="!user.extraction ? 'user-ips-opacity' : ''">
        <extractios-ips-field user="user" user-index="$index" flex></extractios-ips-field>
      </div>
    </div>
  </md-card>
</md-content>