<style>
  table{
    display: table;
    text-align: center !important;
    border-collapse:collapse;
    border-spacing:0;
    width: 98% !important;

  }
  td,th {
    padding: 10px;
    border: 0px;
  }
  tr{
    border-bottom:1px inset rgba(215, 215, 215, 1);
  }
  .rowBiggerFont {
    font-size: 22px !important;
  }
</style>
<div flex="100" layout="row" layout-padding layout-align="center center">
  <md-progress-circular class="md-primary md-hue-3" md-diameter="70" ng-if="!$ctrl.ready"></md-progress-circular>
  <table ng-if="$ctrl.ready">
    <tbody>
    <tr style="border-bottom:2px inset rgba(215, 215, 215, 1)">
      <th>Total</th>
      <th ng-style="$ctrl.getStyle()">Inativos</th>
      <th ng-style="$ctrl.getStyle()">Extração</th>
      <th ng-style="$ctrl.getStyle()" colspan="{{$ctrl.statisticData.centers.length}}">Centro(s)</th>
    </tr>
    <tr>
      <td class="md-caption rowBiggerFont" rowspan="2"><i>{{$ctrl.statisticData.total}}</i></td>
      <td ng-style="$ctrl.getStyle()" class="md-caption rowBiggerFont" rowspan="2"><i>{{$ctrl.statisticData.inatives}}</i></td>
      <td ng-style="$ctrl.getStyle()" class="md-caption rowBiggerFont" rowspan="2"><i>{{$ctrl.statisticData.usersOfExtraction}}</i></td>
      <th ng-style="$ctrl.getStyle()" ng-repeat="center in $ctrl.statisticData.centers track by $index">{{center.acronym}}</th>
    </tr>
    <tr>
      <td class="md-caption" ng-style="$ctrl.getStyle()" ng-repeat="center in $ctrl.statisticData.centers track by $index"><i>{{center.total}}</i></td>

    </tr>
    </tbody>
  </table>
</div>

