<style>
  table{
    display: table;
    text-align: center !important;
    border-collapse:collapse;
    border-spacing:0;
    width: 98% !important;

  }
  td,th {
    padding: 10px 20px 10px 20px;
    border: 0px;
  }
  tr:first-child {
    background-color: rgba(127, 127, 127, 0.38);
  }
  tr{
    border-bottom:1px inset rgba(215, 215, 215, 1);
  }
  .rowBiggerFont {
    font-size: 22px !important;
  }
  .md-dialog{
    width: 600px !important;
    height: auto !important;
  }
</style>

  <md-button class="md-primary" ng-click="$ctrl.show($event)">
    <md-icon>live_help</md-icon>
    <span>Informações</span>
    <md-tooltip>Informações sobre usuários</md-tooltip>
  </md-button>
  <md-progress-circular class="md-primary md-hue-3" md-diameter="70" ng-if="!$ctrl.ready"></md-progress-circular>


