<md-toolbar class="md-table-toolbar md-default" style="background-color: #fafafa">
  <div class="md-toolbar-tools">
    <span>Estatística de usuários no sistema</span>
  </div>
</md-toolbar>
<md-table-container>
  <table md-table ng-model="$ctrl.statisticData.centers" multiple md-progress="promise">
    <thead md-head>
    <tr md-row>
      <th md-column><span>Descrição</span></th>
      <th md-column md-numeric><span>Quantidade</span></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row>
      <td md-cell>Total</td>
      <td md-cell>{{$ctrl.statisticData.total}}</td>
    </tr>
    <tr md-row>
      <td md-cell>Inativos</td>
      <td md-cell>{{$ctrl.statisticData.inactive}}</td>
    </tr>
    <tr md-row>
      <td md-cell>Extração</td>
      <td md-cell>{{$ctrl.statisticData.usersOfExtraction}}</td>
    </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-container>
  <table md-table ng-model="$ctrl.statisticData.centers" md-progress="promise">
    <thead md-head>
    <tr md-row>
      <th md-column><span>Centro(s)</span></th>
      <th md-column md-numeric><span>Quantidade</span></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="center in $ctrl.statisticData.centers track by $index">
      <td md-cell>{{center.acronym}}</td>
      <td md-cell>{{center.total}}</td>
    </tr>
    </tbody>
  </table>
</md-table-container>

