<link rel="stylesheet" type="text/css" href="app/project/configuration/laboratory-configuration/laboratory-configuration-styles.css">

<div layout="row" layout-align="center center" flex>
    <div layout-padding layout="column" flex="80" flex-xs="100">
        <md-subheader hide-xs class="md-primary" flex="95">Laboratório</md-subheader>

        <expansive-panel
            label="Tubos/Materiais biológicos"
            confirm-label="Criar tubo"
            confirm-action="$ctrl.createTube"
            ng-if="$ctrl.tubeRecords && $ctrl.tubeRecords.length > 0"
        >
            <responsive-table
                headers="$ctrl.tubeHeaders"
                records="$ctrl.tubeRecords"
                color-header="color"
                edit="$ctrl.editRecord"
                delete="$ctrl.deleteRecord"
            ></responsive-table>

            <span ng-if="!$ctrl.tubeRecords || $ctrl.tubeRecords.length === 0">
                <md-button class="md-icon-button md-primary big-plus">
                    <md-icon layout-fill="center center">
                        add_circle_outline
                    </md-icon>
                </md-button>

                <br>Criar tubo/material biológico</br>
            </span>
        </expansive-panel>

        <div
            layout="row"
            layout-sm="column"
            layout-align="center center"
            layout-wrap
            ng-if="!$ctrl.aliquotsRecords || $ctrl.aliquotsRecords.length === 0"
        >
            <md-button class="md-raised md-primary" ng-disabled="!$ctrl.tubeRecords || $ctrl.tubeRecords.length === 0">
                <md-icon>add</md-icon>
                Adicionar Alíquota
            </md-button>
            </span>
        </div>

        <expansive-panel label="Alíquotas" confirm-label="Criar alíquota" ng-if="$ctrl.aliquotsRecords && $ctrl.aliquotsRecords.length > 0">
            <responsive-table
                headers="$ctrl.aliquotsHeaders"
                records="$ctrl.aliquotsRecords"
            ></responsive-table>
        </expansive-panel>

        <div
            layout="row"
            layout-sm="column"
            layout-align="center center"
            layout-wrap
            ng-if="$ctrl.aliquotsRecords && $ctrl.aliquotsRecords.length > 0 && (!$ctrl.momentsRecords || $ctrl.momentsRecords.length === 0)"
        >
            <md-button class="md-raised md-primary">
                <md-icon>add</md-icon>
                Adicionar momento
            </md-button>
            </span>
        </div>

        <expansive-panel label="Momentos" confirm-label="Criar momento" ng-if="$ctrl.momentsRecords && $ctrl.momentsRecords.length > 0">
            <responsive-table
                headers="$ctrl.momentsHeaders"
                records="$ctrl.momentsRecords"
            ></responsive-table>
        </expansive-panel>

        <div
            layout="row"
            layout-sm="column"
            layout-align="center center"
            layout-wrap
            ng-if="$ctrl.momentsRecords && $ctrl.momentsRecords.length > 0 && (!$ctrl.examsRecords || $ctrl.examsRecords.length === 0)"
        >
            <md-button class="md-raised md-primary">
                <md-icon>add</md-icon>
                Adicionar exame
            </md-button>
            </span>
        </div>

        <expansive-panel label="Exames" confirm-label="Criar exame" ng-if="$ctrl.examsRecords && $ctrl.examsRecords.length > 0">
            <responsive-table
                headers="$ctrl.examsHeaders"
                records="$ctrl.examsRecords"
            ></responsive-table>
        </expansive-panel>

        <div
            layout="row"
            layout-sm="column"
            layout-align="center center"
            layout-wrap
            ng-if="$ctrl.examsRecords && $ctrl.examsRecords.length > 0 && (!$ctrl.groupsRecords || $ctrl.groupsRecords.length === 0)"
        >
            <md-button class="md-raised md-primary">
                <md-icon>add</md-icon>
                Adicionar grupo
            </md-button>
            </span>
        </div>

        <expansive-panel label="Grupos" confirm-label="Criar grupo" ng-if="$ctrl.groupsRecords && $ctrl.groupsRecords.length > 0">
            <responsive-table
                headers="$ctrl.groupsHeaders"
                records="$ctrl.groupsRecords"
            ></responsive-table>
        </expansive-panel>

        <div
            layout="row"
            layout-sm="column"
            layout-align="center center"
            layout-wrap
            ng-if="$ctrl.groupsRecords && $ctrl.groupsRecords.length > 0"
        >
            <md-button class="md-raised md-primary">
                <md-icon>settings</md-icon>
                Configurar laboratório
            </md-button>
            </span>
        </div>
    </div>
</div>