.big-plus {
    height: 10rem !important;
    width: 10rem !important;
}

.big-plus md-icon {
    font-size: 10em;
    display: flex !important;
    align-items: center;
    justify-content: center;
}