<div flex="100" layout="row" layout-align="center center" layout-margin="">

    <form name="permissionForm" layout="row" flex layout-align="start center">
        <div flex="column" layout-align="start center">
            <div layout="row" layout-align="center center" layout-fill>
                <div layout="row" layout-fill layout-align="space-between center">
                    <h4>
                        <md-icon>science</md-icon>
                        permissões de laboratório
                    </h4>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.active"
                                   ng-change="$ctrl.activeAll()" class="md-primary"></md-switch>
                    </div>
                </div>
                <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    <md-button class="md-primary md-default md-icon-button" aria-label="Save"
                               ng-click="$ctrl.save() " ng-show="!$ctrl.equal">
                        <md-icon>save</md-icon>
                        <md-tooltip md-direction="top">Salvar permissão.</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div layout="column" layout-align="start center" ng-show="$ctrl.active != false">

                <div layout="row" layout-fill>
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>local_shipping</md-icon>
                            Transporte de amostra
                        </h4>

                        <div layout="column" layout-align="center center">
                            <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                            <md-switch name="switch" ng-if="!$ctrl.error"
                                       ng-model="$ctrl.permission.sampleTransportationAccess" class="md-primary"
                                       ng-change="$ctrl.isEqual()"
                            ></md-switch>
                        </div>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill>
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>event_note</md-icon>
                            Acesso ao gerenciamento de aliquotas
                        </h4>

                        <div layout="column" layout-align="center center">
                            <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                            <md-switch name="switch" ng-if="!$ctrl.error"
                                       ng-model="$ctrl.permission.aliquotManagerAccess" class="md-primary"
                                       ng-change="$ctrl.isEqual()"
                            ></md-switch>
                        </div>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>event_note</md-icon>
                            Lotes de exames
                        </h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.examLotsAccess"
                                   class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>event_available</md-icon>
                            Envios de exames
                        </h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.examSendingAccess"
                                   class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>event_available</md-icon>
                            Laboratório Desvinculado
                        </h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error"
                                   ng-model="$ctrl.permission.unattachedLaboratoriesAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>
                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>people_outline</md-icon>
                            Acesso ao laboratório por participante
                        </h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error"
                                   ng-model="$ctrl.permission.participantLaboratoryAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>
                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4>
                            <md-icon>people_outline</md-icon>
                            Acesso a area de manejo de material do laboratório
                        </h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error"
                                   ng-model="$ctrl.permission.laboratoryMaterialManagerAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>