<md-content class="md-padding" layout="column">
  <h2 class="md-headline">Configuração de fonte de dados</h2>
  <div layout="row" layout-align="end center">
    <md-input-container flex-gt-md="50" flex="60">
      <input type="text" ng-model="search.name" placeholder="Buscar por nome da fonte de dado" />
    </md-input-container>
    <span flex></span>
  </div>
  <md-card-title layout="column">
    <span class="md-body-2">Nova Fonte de dados</span>
    <div>
      <form>
        <md-input-container flex-gt-md="50" flex="80">
          <label>Nome da fonte:</label>
          <input ng-model="$ctrl.newDatasource">
        </md-input-container>

        <md-button class="md-icon-button md-primary" ng-disabled="$ctrl.disableSaving" ng-click="$ctrl.publishDatasource()">
          <md-icon md-font-library="material-icons" aria-label="Save">save</md-icon>
          <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
            Salvar
          </md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary" md-tooltip="Enviar" datasource-upload="$ctrl.uploadDatasource">
          <md-icon md-font-library="material-icons" aria-label="Load">unarchive</md-icon>
          <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
            Enviar
          </md-tooltip>
        </md-button>
      </form>
    </div>
  </md-card-title>
  <md-card-title-text>
    <span class="md-body-2">Fonte de dados</span>
    <md-list>
      <md-list-item  ng-if="$ctrl.ready" ng-repeat="datasource in $ctrl.datasources | orderBy: datasource.name | filter : search" aria-label="fonte de dado">
        <div layout="row" layout-align="space-between center" flex>
          <div layout="column">
            <span flex> {{ datasource.name }}</span>
            <md-tooltip md-visible="false" md-delay="200" md-direction="right" md-autohide="true">{{ datasource.name }}</md-tooltip>
          </div>
          <div layout="row">
            <md-button class="md-icon-button md-default-theme" md-tooltip="Enviar" ng-click="$ctrl.identificationData(datasource)" datasource-upload="$ctrl.uploadDatasource">
              <md-icon md-font-library="material-icons" aria-label="Load">create</md-icon>
              <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
                Editar
              </md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-default-theme" md-tooltip="Baixar" ng-click="$ctrl.exportDatasource(datasource)">
              <md-icon md-font-library="material-icons" aria-label="Load">file_download</md-icon>
              <md-tooltip md-visible="false" md-delay="200" md-direction="right" md-autohide="true">
                Baixar
              </md-tooltip>
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card-title-text>
</md-content>