<md-button ng-click="dashboardMenu.open()">
    <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
    Otus Domain
</md-button>
<md-list>
    <md-list-item class="md-1-line">
        <md-button id="home-menu" ng-click="dashboardMenu.openHome()">
            <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
            Home
        </md-button>
    </md-list-item>
    <md-list-item class="md-1-line">
        <md-button id="user-management-menu" ng-click="dashboardMenu.openUserActivation()">
            <md-icon md-svg-icon="account" aria-label="Usuários"></md-icon>
            Usuários
        </md-button>
    </md-list-item>
</md-list>
