<div flex="100" layout="row" layout-align="center center" layout-margin="">

    <form name="permissionForm" layout="row" flex layout-align="start center">
        <div flex="column" layout-align="start center">
            <div layout="row" layout-align="center center" layout-fill>
                <div layout="row" layout-fill layout-align="space-between center">
                    <h4>
                        <md-icon>assessment</md-icon>
                        Permissões de monitoramento
                    </h4>
                </div>
                <div layout="column" layout-align="center center">
                    <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                    <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.active" ng-change="$ctrl.activeAll()" class="md-primary"></md-switch>
                </div>
                <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    <md-button class="md-primary md-default md-icon-button" aria-label="Save"
                               ng-click="$ctrl.save()" ng-show="$ctrl.equal != false">
                        <md-icon>save</md-icon>
                        <md-tooltip md-direction="top">Salvar permissão.</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div layout="column" layout-align="start center" ng-show="$ctrl.active != false">

                <div layout="row" layout-fill>
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4><md-icon>description</md-icon> Atividades do centro</h4>

                        <div layout="column" layout-align="center center">
                            <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                            <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.centerActivitiesAccess" class="md-primary"
                                       ng-change="$ctrl.isEqual()"
                            ></md-switch>
                        </div>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4><md-icon>flag</md-icon> Flags para atividades</h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.activityFlagsAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4><md-icon>flag</md-icon> Flags para laboratório</h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.laboratoryFlagsAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4><md-icon>assignment_turned_in</md-icon> Controle laboratorial</h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.laboratoryControlAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"
                        ></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>

                <div layout="row" layout-fill layout-align="space-between center">
                    <span flex="5"></span>
                    <div layout="row" layout-fill layout-align="space-between center">
                        <h4><md-icon>visibility</md-icon> Visualizador de pendências</h4>
                    </div>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.pendencyVisualizerAccess" class="md-primary"
                                   ng-change="$ctrl.isEqual()"></md-switch>
                    </div>
                    <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>