<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <md-button ng-click="dashboardMenu.open()">
        <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
        Otus Domain
      </md-button>
      <span flex></span>
      <md-button aria-label="Logout" ng-click="dashboardMenu.logout()">
        <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-list>
    <md-subheader class="md-no-sticky">Domínio</md-subheader>
    <md-list-item>
      <div layout-align="start center">
        <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
        <md-button id="home-menu" ng-click="dashboardMenu.openHome()">
          Home
        </md-button>
      </div>
    </md-list-item>
    <md-list-item>
      <div layout-align="start center">
        <md-icon md-svg-icon="account" aria-label="Usuários"></md-icon>
        <md-button id="user-management-menu" ng-click="dashboardMenu.openUserActivation()">
          Usuários
        </md-button>
      </div>
    </md-list-item>
    <div otus-waiting-project>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Projeto Selecionado</md-subheader>
      <md-list-item>
        <div layout-align="start center">
          <md-icon aria-label="Atividades">assignment</md-icon>
          <md-button id="activity-menu" ng-click="dashboardMenu.openProjectActivityConfiguration()">
            Atividades
          </md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon md-font-library="material-icons" aria-label="Centros">place</md-icon>
          <md-button id="center-management-menu" ng-click="dashboardMenu.openProjectCenters()">
            Centros
          </md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon md-font-library="material-icons" aria-label="Configuração">settings</md-icon>
          <md-button ng-click="dashboardMenu.openProjectConfiguration()">Configuração</md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon md-font-library="material-icons" aria-label="Destinos">near_me</md-icon>
          <md-button ng-click="dashboardMenu.openLocationPoint()">Pontos de localização</md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon md-font-library="material-icons" aria-label="Relatórios">chrome_reader_mode
          </md-icon>
          <md-button ng-click="dashboardMenu.openReportManager()">Relatórios</md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon md-font-library="material-icons" aria-label="Fonte de dados">storage
          </md-icon>
          <md-button ng-click="dashboardMenu.openDatasourceManager()">Fonte de dados</md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon md-svg-icon="account" aria-label="Usuários"></md-icon>
          <md-button id="project-user-management-menu" ng-click="dashboardMenu.openUserActivationInProject()">
            Usuários
          </md-button>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout-align="start center">
          <md-icon aria-label="Desfechos">ballot</md-icon>
          <md-button id="project-user-management-menu" ng-click="dashboardMenu.openFollowUpConfiguration()">
            Seguimentos
          </md-button>
        </div>
      </md-list-item>
    </div>
  </md-list>
</md-content>
