<md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                                                                          ng-cloak style="z-index: 1000 !important">
    <md-content ui-view="dashboard-menu"></md-content>
</md-sidenav>

<md-content layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a class="toolbar-icon" rel="home" title="Otus">
                <img ng-src="app/assets/img/coruja_neutra.png" class="md-avatar toolbar-icon" />
            </a>

            <md-button ng-click="dashboardMenu.open()">
                <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
                <span>Otus Domain</span>
            </md-button>

            <span flex></span>

            <otus:project-selection></otus:project-selection>

            <md-whiteframe class="md-whiteframe-10dp image-brand icon-clickable">
                <a class="navbar-brand">
                    <img ng-src="app/assets/img/user_model.png" class="md-avatar toolbar-icon icon-clickable" />
                </a>
            </md-whiteframe>

        </div>
    </md-toolbar>
    <md-content ui-view="system-content" layout="row" flex></md-content>
</md-content>
