<!DOCTYPE html>
<html lang="en" ng-app="studio">

<head>
    <base href="/otus-domain/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1">
    <title>Otus Domain</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="app/assets/img/coruja_neutra.png" rel="icon" />
</head>

<body layout="row" flex class="md-body-2" md-theme="layoutTheme" ng-controller="DashboardMenuController as dashboardMenu">
    <md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
    ng-cloak style="z-index: 1000 !important">
        <md-content ui-view="dashboard-menu"></md-content>
    </md-sidenav>

    <md-content layout="column" flex ng-cloak>
        <md-toolbar layout="row" id="system-toolbar" class="md-accent md-hue-1">
            <a class="navbar-brand" rel="home" title="Otus" layout="row" layout-align="center center">
                <img ng-src="app/assets/img/coruja_neutra.png" class="image-otus-toolbar" />
            </a>
            <md-button ng-click="dashboardMenu.open()">
                <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
                Otus Domain
            </md-button>
            <span flex></span>

            <h3 ng-controller="RepositoryController as repositoryController">
            <span>{{repositoryController.connected()}}</span>
        </h3>
            <span flex="5"></span>
            <md-whiteframe class="md-whiteframe-10dp image-component" layout="row">
                <a class="navbar-brand" rel="home" title="Profile" layout="row" layout-align="center center">
                    <img ng-src="app/assets/img/prof_bruce_duncan.jpg" class="image-user-div" />
                </a>
            </md-whiteframe>
            <md-button aria-label="Logout" ng-click="dashboardMenu.logout()">
                <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
            </md-button>
        </md-toolbar>
        <md-content ui-view="system-content" layout="row" flex></md-content>
    </md-content>
</body>

<!-- Script imports -->
<!-- ************************************* jQuery ************************************* -->
<script src="app/shared/jquery/jquery-2.2.0.min.js"></script>

<!-- ************************************* Angular ************************************* -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="app/shared/angular-bind-html-compile/angular-bind-html-compile.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="app/shared/angular-ui-mask/angular-ui-mask.min.js"></script>
<script src="app/shared/angular-ui-router/angular-ui-router.min.js"></script>

<!-- ************************************* Angular Material ************************************* -->
<link href="app/shared/angular-material/angular-material.min.css" rel="stylesheet"
/>
<script src="app/shared/angular-material/angular-material.min.js"></script>

<!-- ************************************* Lokijs ************************************* -->
<script src="app/shared/lokijs/lokijs.min.js"></script>
<script src="app/shared/lokijs/loki-angular.js"></script>

<!-- ************************************* Moment ************************************* -->
<script src="app/shared/moment/moment.js"></script>

<!-- ***************************************** Utils ***************************************** -->
<!-- Utils -->
<script src="app/shared/st-utils/st-utils-module.js"></script>


<!-- ************************************** Otus Domain ************************************** -->
<!-- app.shared.otus-domain.survey-repository -->
<script src="app/shared/otus-domain/survey-repository/repository-module.js"></script>
<script src="app/shared/otus-domain/survey-repository/repository-controller.js"></script>
<script src="app/shared/otus-domain/survey-repository/repository-service.js"></script>

<!-- app.shared.otus-domain.user -->
<script src="app/shared/otus-domain/user/user-module.js"></script>
<script src="app/shared/otus-domain/user/management/user-controller.js"></script>

<script src="app/app.js"></script>

<!-- assets -->
<link href="app/assets/styles.css" rel="stylesheet" />

<!-- app.config -->
<script src="app/config/dependencies-configuration.js"></script>
<script src="app/config/locale-configuration.js"></script>
<script src="app/config/state-configuration.js"></script>
<script src="app/config/theme-configuration.js"></script>


<!-- ************************************** Studio Dashboard ************************************** -->
<script src="app/private/dashboard/dashboard-module.js"></script>

<!-- API -->
<script src="app/private/dashboard/api/dashboard-state-service.js"></script>

<!-- DIALOG -->
<script src="app/private/dashboard/dialog/logout/logout-dialog-service.js"></script>

<!-- HOME -->
<script src="app/private/dashboard/home/home-controller.js"></script>

<!-- MENU -->
<script src="app/private/dashboard/menu/dashboard-menu-controller.js"></script>

</html>
