* {
    box-sizing: border-box;
}
#user-register-page {
    padding-top: 2rem;
}
#user-register-page #logo {
    margin: 0 auto;
    width: 180px;
    height: 150px;
    display: block;
}
#user-register-page #center {
    width: 55%;
    margin: 0 auto;
}
#user-register-page h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1rem;
}

/** AngularJS **/


/** This style is to fix float label 'celular'! Do NOT remove**/

#user-register-page label[for="phonenumber"] {
    -webkit-transform: translate3d(0, 6px, 0) scale(.75) !important;
}
