<style>
  .current-version {
    background-color: #448aff !important;
    color: #FAFAFA !important;
  }

  .questionPositionChip {
    width: 40px !important;
    height: 40px !important;
    padding: 5px 4px !important;
    margin-right: 10px !important;
    text-align: center !important;
    border-radius: 0px !important;
  }
</style>

<md-content class="md-padding autocomplete" layout="column" flex>
  <h2 class="md-headline">Configuração de Atividade</h2>
  <!-- current version -->
  <md-card layout="column" flex>
    <md-content layout="column" class="autocomplete">
      <md-card-title layout="row" layout-align="start center" flex>
        <span class="md-title">Versão atual</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.saveSettings()" layout-fill="">
          <md-icon>help</md-icon>
          <md-tooltip>Versões atual da atividade, seu dicionário de variaveis e template</md-tooltip>
        </md-button>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item aria-label="template" class="md-2-line">
            <div layout="row" layout-align="center center" flex>
              <div class="current-version" md-whiteframe="1dp" layout-padding>
                <span class="md-title" style="vertical-align: middle;">{{$ctrl.currentSurvey.version}}</span>
              </div>
              <div class="md-list-item-text">
                <h3>{{$ctrl.currentSurvey.surveyTemplate.identity.acronym}}</h3>
                <p>{{$ctrl.currentSurvey.surveyTemplate.identity.name}}</p>
              </div>
              <div class="md-list-item-text" flex="20" layout-align="end end">
                <md-button class="md-icon-button" aria-label="baixar template" ng-click="$ctrl.downloadTemplate()">
                  <md-icon md-font-library="material-icons" aria-label="baixar template" style="color:#448aff">file_download</md-icon>
                  <md-tooltip md-direction="left">Baixar template</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="baixar dicionário de variáveis" ng-click="$ctrl.downloadVariables()">
                  <md-icon md-font-library="material-icons" aria-label="baixar dicionário de variáveis" style="color:#448aff">assignment_returned</md-icon>
                  <md-tooltip md-direction="left">Baixar dicionário de variáveis</md-tooltip>
                </md-button>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-content>
  </md-card>
  <!-- dictionary and template -->
  <md-card layout="column" flex>
    <md-content layout="column" class="autocomplete">
      <md-card-title layout="row" layout-align="start center" flex>
        <span class="md-title">Versões anteriores</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.saveSettings()" layout-fill="">
          <md-icon>help</md-icon>
          <md-tooltip>Versões anteriores da atividade, seu dicionário de variaveis e template</md-tooltip>
        </md-button>
      </md-card-title>
      <md-card-content>
        <md-list ng-if="!$ctrl.error">
          <md-list-item ng-repeat="surveyForm in $ctrl.surveyTemplatesList | filter : search track by $index"
            aria-label="template" class="md-2-line">
            <div layout="row" layout-align="center center" flex>
              <div class="questionPositionChip" md-whiteframe="1dp">
                <span class="md-title" style="vertical-align: middle;">{{surveyForm.version}}</span>
                <md-tooltip md-direction="left">Versão</md-tooltip>
              </div>
              <div class="md-list-item-text">
                <h3>{{surveyForm.surveyTemplate.identity.acronym}}</h3>
                <p>{{surveyForm.surveyTemplate.identity.name}}</p>
              </div>
              <div class="md-list-item-text" flex="20" layout-align="end end">
                <md-button class="md-icon-button" aria-label="baixar template" ng-click="$ctrl.downloadTemplate(surveyForm.version)">
                  <md-icon md-font-library="material-icons" aria-label="baixar template">file_download</md-icon>
                  <md-tooltip md-direction="left">Baixar template</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="baixar dicionário de variáveis" ng-click="$ctrl.downloadVariables(surveyForm.version)">
                  <md-icon md-font-library="material-icons" aria-label="baixar dicionário de variáveis">assignment_returned</md-icon>
                  <md-tooltip md-direction="left">Baixar dicionário de variáveis</md-tooltip>
                </md-button>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <md-content ng-if="$ctrl.error" flex layout="row">
          <div layout="row" flex layout-align="center center">
            <div class="label-light-gray">
              <p class="md-2-line">{{$ctrl.message}}</p>
            </div>
          </div>
      </md-card-content>
    </md-content>
  </md-card>
  <!-- Blinding between users -->
  <md-card layout="column" flex>
    <md-content layout="column" class="autocomplete">
      <md-card-title layout="row" layout-align="start center" flex>
        <span class="md-title">Cegamento entre usuários</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.saveSettings()" layout-fill="">
          <md-icon>help</md-icon>
          <md-tooltip>As configurações realizadas serão salvas automaticamente.</md-tooltip>
        </md-button>
      </md-card-title>
      <div layout="column" layout-margin>
        <span class="md-subhead">Caso algum dos usuários listados abaixo realize a edição da atividade os demais,
          pertencentes ao grupo, perderam o acesso a ela.</span>
        <span class="md-caption remove-errors-spacer">Cegar esta atividade entre os seguintes usuários:</span>
        <div layout="row" flex>
          <md-chips ng-model="$ctrl.users" md-autocomplete-snap flex md-transform-chip="ctrl.transformChip($chip)"
            md-require-match="true" md-on-add="$ctrl.onAdd($chip)" md-on-remove="$ctrl.onRemove($chip)">
            <md-autocomplete md-selected-item="$ctrl.selectedItem" md-search-text="$ctrl.searchText" md-items="item in $ctrl.querySearch($ctrl.searchText)"
              md-item-text="item.name" placeholder="Digite o nome do usuário">
              <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
              <span>
                <strong>{{$chip.name}}</strong>
              </span>
            </md-chip-template>
          </md-chips>
        </div>
      </div>
    </md-content>
  </md-card>
</md-content>