* {
    box-sizing: border-box;
}
#installer-page {
    padding-top: 2rem;
}
#installer-page #logo {
    margin: 0 auto;
    width: 180px;
    height: 150px;
    display: block;
}
#installer-page #center {
    width: 55%;
    margin: 0 auto;
}
#installer-page h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1rem;
}

/** AngularJS **/


/** Float label color */


/*md-input-container label, md-input-container .md-placeholder {
    color: black !important;
}*/


/** This style is to fix float label 'celular'! Do NOT remove**/

#installer-page label[for="phonenumber"] {
    -webkit-transform: translate3d(0, 6px, 0) scale(.75) !important;
}
