#login-page{
    position: relative;
}
#login-page #center {
	width: 55%;
	top: 60%;
	margin: 0 auto;
	background-color: white;
	position: relative;
	border: 2px solid #E6E6E6;
}

#login-page #divtop{
	background-color: #448AFF;
	height:35%;
	z-index: 1;
	position: absolute;
	width: 100%;
}

#login-page #divDown{
	background-color: white;
	height: 60%;

}

#login-page .nameDomain{
	text-align: left;
	color: white;
	top: 58%;
    position: relative;
    margin: 0 auto;
}

#login-page .nameDomain span {
	margin-left: 23%;
}

#login-page h1 {
	margin: 0 auto;
	width: 110px;
	/* height: 150px; */
	display: block;
}

#login-page .logo {
    width: 27%;
    position: absolute;
    left: 40%;
    transform: translate(-30%, -30%);
}

@media screen and (max-width: 1280px) and (min-width: 800px) {
    #login-page .logo {
        width: 47%;
        position: absolute;
        left: 45%;
        transform: translate(-30%, -30%);
    }
}

/** This style is to fix float label 'celular'! Do NOT remove**/
label[for="phonenumber"] {
	-webkit-transform: translate3d(0, 6px, 0) scale(.75) !important;
}

.error-message{
    text-align: center;
    /*color: rgb(244,67,54);*/
}

#login-page #content {
	margin-top: 10%;
	padding: 10px;

}

#login-page .md-block {
	width: 60%;
	left: 12%;
	right: 12%

}
