<div layout="row" flex layout-align="center center" layout-padding>
  <div layout="column" flex>
    <div layout="row" class="layout-wrap" id="header" layout-align="start center">
      <strong>{{$ctrl.surveyForm.surveyTemplate.identity.acronym}}</strong>
      -
      <div layout-wrap layout="column" layout-align="start start">
        {{$ctrl.surveyForm.surveyTemplate.identity.name}} <br>
      </div>
      -
      <em class="md-caption remove-errors-spacer">Versão: {{$ctrl.surveyForm.version}}</em>
    </div>
  </div>
  <div layout="row" flex="20" layout-align="end end">
    <md-button class="md-icon-button" aria-label="Configurações" ng-click="$ctrl.showActivitySettings()">
      <md-icon md-font-library="material-icons" aria-label="Configurações">settings</md-icon>
      <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
        Configurações
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Excluir" ng-click="$ctrl.deleteSurveyTemplate()">
      <md-icon md-font-library="material-icons" aria-label="Excluir">delete</md-icon>
      <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
        Excluir
      </md-tooltip>
    </md-button>
  </div>
</div>
<label id="toLabel">Grupos:</label>
<md-contact-chips
    ng-model="$ctrl.groups"
    ng-change="$ctrl.onModelChange($ctrl.contacts)"
    md-contacts="$ctrl.querySearch($query)"
    md-contact-name="name"
    md-require-match="true"
    md-separator-keys="$ctrl.keys"
    md-highlight-flags="i"
    placeholder="Digite um nome de grupo"
    secondary-placeholder="Adicionar outros grupos"
    input-aria-label="Grupos pretendidos">
</md-contact-chips>