<md-content flex layout-padding>
    <md-card flex layout="column" layout-margin>
        <md-card-title layout="row">
            <md-card-title-text>
                <span class="md-body-2">Templates do Projeto</span>
                <div layout="column" ng-hide="$ctrl.uploaded()">
                    <span class="md-subhead">Templates Escolhidos:</span>
                    <span class="md-subhead">
                        {{$ctrl.uploadedFile.identity.acronym}}
                        -
                        {{$ctrl.uploadedFile.identity.name}}</span>
                </div>
            </md-card-title-text>
            <md-button class="md-icon-button md-primary" md-tooltip="Enviar Template" upload-tool="$ctrl.uploadConfig">
                <md-icon md-font-library="material-icons" aria-label="Load">autorenew</md-icon>
                <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
                    Enviar Template
                </md-tooltip>
            </md-button>
            <md-button id="saveBtn" class="md-icon-button md-primary" ng-disabled="$ctrl.uploaded()" ng-click="$ctrl.uploadTemplate()">
                <md-icon md-font-library="material-icons" aria-label="Save">save</md-icon>
                <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
                    Salvar
                </md-tooltip>
            </md-button>
        </md-card-title>
        <md-card-content layout="row">
            <md-content style="height: 500px" flex>
                <section>
                    <md-subheader class="md-primary">
                        <span>Sigla - Nome</span>
                    </md-subheader>
                    <md-list>
                        <md-list-item flex ng-repeat="surveyForm in $ctrl.surveyTemplatesList track by $index"
                                      ng-click="$ctrl.updateSurveyFormType($index)">
                            <div layout="row" layout-fill layout-align="space-between">
                                <div class="md-list-item-text" layout="column" layout-align="start center">
                                    <div layout="column">
                                        <span class="md-subheader">{{surveyForm.surveyTemplate.identity.acronym}}
                                        </span>
                                        <span class="md-body-2">
                                            {{surveyForm.surveyTemplate.identity.name}}</span>
                                    </div>
                                </div>
                                <div layout="column">
                                    <md-checkbox class="md-primary"
                                              ng-checked="{{(surveyForm.surveyTemplate === 'PROFILE')}}"
                                              ng-disabled="false" aria-label="Tipo de perfil">
                                        Perfil
                                    </md-checkbox>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </md-content>
        </md-card-content>
    </md-card>
</md-content>
