<div flex="100" layout="row" layout-align="center center" layout-margin="">

    <form name="permissionForm" layout="row" flex layout-align="start center">
        <div flex="column" layout-align="start center">
            <div layout="row" layout-align="center center" layout-fill>
                <div layout="row" layout-fill layout-align="space-between center">
                    <h4>
                        <md-icon>how_to_reg</md-icon>
                        Permissão de atividade de participante
                    </h4>
                    <div layout="column" layout-align="center center">
                        <span class="md-warn" ng-if="$ctrl.error">Erro ao carregar permissão</span>
                        <md-switch name="switch" ng-if="!$ctrl.error" ng-model="$ctrl.permission.participantActivityAccess" class="md-primary"></md-switch>
                    </div>
                </div>
                <div flex="10" flex-gt-sm="10" flex-gt-md="5" layout="row" layout-align="end center">
                    <md-button class="md-primary md-default md-icon-button" aria-label="Save"
                               ng-click="$ctrl.save()">
                        <md-icon>save</md-icon>
                        <md-tooltip md-direction="top">Salvar permissão.</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>

    </form>

</div>