.menu-icon {
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
}

.menu-icon.open {
    transform: rotate(180deg);
}

.expansive-content.ng-hide {
  max-height: 0;
  transition: max-height .4s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  position: relative;
}

.expansive-content {
  transition: max-height .4s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  position: relative;
  max-height: 85vh;
}

ng-transclude {
  height: 100%;
  width: 100%;
}

md-card {
  height: 100%;
  width: 100%;
  margin: 0;
}

.big-plus {
    height: 10rem !important;
    width: 10rem !important;
}

.big-plus md-icon {
    font-size: 10em;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

responsive-table {
  width: 100%;
}