<link rel="stylesheet" type="text/css" href="app/project/components/expansive-panel/expansive-panel-styles.css">

<md-card>
    <md-card-title layout="row" layout-align="space-between center">
        <span class="md-headline">{{ $ctrl.label }}</span>

        <md-button class="md-icon-button" ng-click="$ctrl.togglePanel()">
            <md-icon ng-class="$ctrl.panelOpen ? 'menu-icon open' : 'menu-icon'">
                expand_more
            </md-icon>
        </md-button>
    </md-card-title>

    <div ng-show="$ctrl.panelOpen" class="expansive-content">
        <md-card-content layout="row" layout-align="center center">
            <ng-transclude></ng-transclude>
        </md-card-content>
        
        <md-card-actions
            layout="row"
            layout-align="end center"
        >
            <dynamic-dialog
                    button-icon="'add_circle_outline'"
                    button-class="'md-raised'"
                    button-text="$ctrl.buttonText"
                    data="$ctrl.dialogData"
                    callback-functions="{
                    create: $ctrl.createAction,
                    update: $ctrl.updateAction
                    }"
                    template="$ctrl.dialogTemplate"
            >
            </dynamic-dialog>
        </md-card-actions>        
    </div>
</md-card>