<div layout="column" flex layout-align="start center">
  <div layout="column" flex>
    <md-content flex="80" layout-padding style="background: transparent !important;">
      <div class="md-dialog-content">
        <form name="createForm" novalidate>
          <div layout="row" flex layout-align="start center">
            <div>
              <div label="Cor de fundo*" name="backgroundColor" md-color-picker ng-change="$ctrl.validation()" ng-model="fieldCenter.backgroundColor"
                md-color-history="false"></div>
            </div>
            <div>
              <div label="Cor da borda*" name="borderColor" md-color-picker ng-change="$ctrl.validation()" ng-model="fieldCenter.borderColor"
                md-color-history="false"></div>
            </div>
          </div>
          <div layout="row" layout-padding>
            <md-input-container>
              <label>Sigla</label>
              <input name="acronym" ng-change="$ctrl.resetValidation()" ng-model="fieldCenter.acronym" required/>

              <div ng-messages="createForm.acronym.$error">
                <div ng-message="required">Obrigatório</div>
                <div ng-message="ACRONYM_EXIST">Centro já existente</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Código</label>
              <input name="code" ng-change="$ctrl.resetValidationCode()" ng-model="fieldCenter.code" required/>

              <div ng-messages="createForm.code.$error">
                <div ng-message="required">Obrigatório</div>
                <div ng-message="CODE_EXIST">Código já existente</div>
                <div ng-message="NUMBER">Deve possuir somente números</div>
              </div>
            </md-input-container>

            <md-input-container flex md-no-float>
              <label>Nome</label>
              <input name="name" required ng-model="fieldCenter.name"></input>

              <div ng-messages="createForm.name.$error">
                <div ng-message="required">Obrigatório</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-padding>
            <md-input-container>
              <label>Estado</label>
              <input ng-model="fieldCenter.state"></input>
            </md-input-container>

            <md-input-container flex="50" md-no-float>
              <label>Endereço</label>
              <md-icon md-font-set="material-icons">place</md-icon>
              <input ng-model="fieldCenter.address"></input>
            </md-input-container>

            <md-input-container>
              <label>Complemento</label>
              <input ng-model="fieldCenter.complement"></input>
            </md-input-container>
          </div>
          <div layout="row" layout-padding>
            <md-input-container>
              <label>Pais</label>
              <input ng-model="fieldCenter.country"></input>
            </md-input-container>

            <md-input-container>
              <md-icon md-font-set="material-icons">markunread_mailbox</md-icon>
              <input aria-label="Cep" ui-mask="99999-999" ng-model="fieldCenter.zip"></input>
            </md-input-container>

            <md-input-container md-no-float>
              <md-icon md-font-set="material-icons">phone</md-icon>
              <input aria-label="Telefone" ui-mask="(99) 99999999?9" ng-model="fieldCenter.phone"></input>
            </md-input-container>
          </div>
        </form>
      </div>
  </div>
  </md-content>
</div>
<div class="layout-row" layout-align="end center" layout-margin>
  <md-button ng-disabled="(createForm.$invalid && $ctrl.backgroundColorIsInvalid && $ctrl.borderColorIsInvalid) || (!createForm.$invalid && $ctrl.backgroundColorIsInvalid && $ctrl.borderColorIsInvalid)"
    type="submit" class="md-raised md-primary" ng-click="$ctrl.create(fieldCenter)">Criar</md-button>
  <md-button class="md-raised md-no-focus" ng-click="$ctrl.reset()">Limpar</md-button>
</div>