<md-content class="md-padding" layout="column">
  <h2 class="md-headline">Configurações dos formulários disponíveis</h2>
  <div layout="row" layout-align="end center">
    <md-input-container flex="">
      <input type="text" ng-model="search.surveyTemplate.identity.name" placeholder="Buscar por nome de formulário" />
    </md-input-container>
    <span flex></span>
    <md-button class="md-icon-button md-primary" md-tooltip="Enviar Template" upload-tool="$ctrl.uploadConfig">
      <md-icon md-font-library="material-icons" aria-label="Load">unarchive</md-icon>
      <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
        Enviar Template
      </md-tooltip>
    </md-button>
    <md-button id="saveBtn" class="md-icon-button md-primary" ng-disabled="$ctrl.disableSaving" ng-click="$ctrl.publishTemplate()">
      <md-icon md-font-library="material-icons" aria-label="Save">save</md-icon>
      <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
        Salvar
      </md-tooltip>
    </md-button>
  </div>
  <md-card-title-text>
    <span class="md-body-2">Formulários</span>
    <div layout="column" ng-hide="$ctrl.disableSaving">
      <span class="md-subhead">Template Escolhido: {{$ctrl.uploadedObject.identity.acronym}} - {{$ctrl.uploadedObject.identity.name}}</span>
    </div>

    <md-list>
      <md-list-item ng-repeat="surveyForm in $ctrl.surveyTemplatesList | filter : search"  aria-label="formulário">
        <survey-template-configuration flex survey-form="surveyForm" survey-templates="$ctrl.surveyTemplatesList"></survey-template-configuration>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
</md-content>